// Variables
$primary-color: #007bff;
$font-family: 'Arial', sans-serif;
$base-font-size: 16px;

// Mixin pour les boutons
@mixin button-style {
  background-color: $orange;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken($orange, 10%);
  }
}
.container-cours {
    border: 1px solid;
}
// Styles pour le formulaire
