.container-detail-formation {
     margin: 1em 0.5em;
     display: flex;
     justify-content: space-between;

     .detail-formation-gauche {
          width: 67.5%;

          .video-container {
               .title-formation {
                    text-transform: uppercase;
                    margin-top: 1em;
                    font-weight: 600;
               }
               .video-card {
                   height: 68vh;
                   width: 100%;
                   margin: 1.5em 0;
                   border-radius: 5px;
              }
               .description-objectif {
                    margin: 1em 0;

                    .title {
                         margin: 0.5em 0;
                         font-size: 1.4em;
                         text-decoration: underline;
                    }
               }

          }
     }

     section {
          width: 31%;
          border-radius: 5px 5px 0 0;
          // background: $blanc;
          // padding: 0.9em;

          .card-content {
               margin-top: 0.6em;
          }
          .accordeon {
               // border: 1px solid;
               display: flex;
               justify-content: space-between;

               .video-image {
                    // border: 1px solid;
                    width: 10%;
               }
               p {
                    // border: 1px solid;
                    width: 88%;
               }
          }
     }
}




