.container-detail-formation {
     margin: 2% 2.5%;
}

.container-detail-formation .detail-formation-gauche {
}

.container-detail-formation .video-container {
     .title-formation {
          text-transform: uppercase;
          margin-top: 1em;
          font-weight: 600;
     }
     .video-card {
         height: 68vh;
         width: 100%;
         margin: 1.5em 0;
         border-radius: 5px;
    }
}

.container-detail-formation .description-objectif {
     margin: 1em 0;
}

.container-detail-formation .description-objectif .title {
     margin: 0.5em 0;
     font-size: 1.4em;
     text-decoration: underline;
}

.container-detail-formation section {
     width: 31%;
     border-radius: 5px 5px 0 0;
     background: #f6f6f6;
     padding: 0.9em;
}
.container-detail-formation section .card-content {
     margin-top: 0.6em;
}