.login_page {
     min-height: 100vh;
     max-height: 100vh;
}
.login_page .container_login {
     display: flex;
     align-items: center;
     height: 100vh;
     justify-content: left;
}

.login_page .container_login .image_card {
     width: 50%;
     height: 100vh;
     overflow: hidden;
}
.login_page .container_login .image_card .image {
     width: 100%;
     height: 100%;
}
.login_page .container_login .login_card {
     width: 45%;
}
