
/* div.Kalend__CalendarHeaderEvents__container {
     border: 1px solid red;
     height: 100vh;
}
div.Kalend__CalendarHeader-tall {
     border: 1px solid;
     height: 50vh;
} */
/* 
button.Kalend__button.Kalend__Event-header.Kalend__ButtonBase {
     height: 10vh;
     background: red;
} */
.rbc-header {
     height: 8vh;
     /* display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     text-transform: capitalize; */
     font-size: 1.5em;
     /* font-weight: normal; */
 }

.dashbord .container-dashbord {
     display: flex;
}
