.container_home {
     display: flex;
     justify-content: space-between;
     position: relative;
}
.container_home main {
     width: 83.3%;
     background: #f6f6f6;
     min-height: 100vh;
     padding: 0 0.8em;
}